
/* made by kappa */

@media screen and (min-width: 800px){

	* {
		margin: 0;
		/* padding: 0; */
		box-sizing: border-box;
	}

	body {
		height: 100vh;
		padding: 0;
		margin: 0;
		font-family: 'Overpass Mono', monospace;

		background: url('../images/1.png');

		background-position: center;
		background-attachment: fixed;
		-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	a {
		color: black;
	}

	#email {
		text-decoration: overline;
	}

	#main{
		padding: 10px;
		margin: 0;
		border-radius: 0px;
		background: ghostwhite;
		color: black;
		width: 35vw;
		min-height: 100vh;
	}
}

@media screen and (max-width: 799px){

	body {
		font-family: 'Overpass Mono', monospace;

		background: url('../images/1.png');

		background-position: center;
		background-attachment: fixed;
		-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	a {
		color: black;
	}

	#email {
		text-decoration: overline;
	}

	#main{

		padding: 10px;
		border-radius: 8px;
		background: ghostwhite;
		color: black;
		min-width: 90vw;
		min-height: 90vh;
		max-width: 100vw;
		max-height: 100vh;
	}
}
